<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="style.css">
		<title>Blog</title>
	</head>
	<body>
		<div id="starship">
			Powered by Starship v1<div id="grabber">️🔥</div>
		</div>
		<div id="flex-stack">
			<div id="title-outer">
				<div id="title-inner">
					<h2>Hello World</h2>
				</div>
			</div>
			<div id="posts-outer">
				<div id="posts-inner">
					<div class="post">
						<div class="content">
							<div class="post-title">
								<h3 class="post-title-name">A post</h3>
								<div class="post-title-date">July 1, 2024 at 5:30 PM</div>
							</div>
							<p>Starship is a templating blog generation system.</p>
							<p><a class="readmore">read more</a></p>
						</div>
					</div>
					<div class="post-spacer"></div>
					<div class="post">
						<div class="content">
							<div class="post-title">
								<h3 class="post-title-name">How does templating work?</h3>
								<div class="post-title-date">July 1, 2024 at 5:25 PM</div>
							</div>
							<p>It doesn't. Not yet.</p>
							<p><a class="readmore">read more</a></p>
						</div>
					</div>
					<div class="post-spacer"></div>
					<div class="post">
						<div class="content">
							<div class="post-title">
								<h3 class="post-title-name">FOSS is cool</h3>
								<div class="post-title-date">July 1, 2024 at 5:10 PM</div>
							</div>
							<p>source <a href="https://github.com/vmhl87/starship">here</a></p>
							<p><a class="readmore">read more</a></p>
						</div>
					</div>
					<div class="post-spacer"></div>
					<div class="post">
						<div class="content">
							<div class="post-title">
								<h3 class="post-title-name">A longer post</h3>
								<div class="post-title-date">July 1, 2024 at 5:03 PM</div>
							</div>
							<p>In an ideal world, Starship would run in C.</p>
							<p>However, compatibility is important. The current build system
							uses a collection of primarily Python scripts to collate static
							blog content.</p>
							<p>Starship v1 is completely static. However, this won't scale
							well long-term, so plans are to...</p>
							<p><a class="readmore">read more</a></p>
						</div>
					</div>
					<div class="post-spacer"></div>
					<div class="post">
						<div class="content">
							<div class="post-title">
								<h3 class="post-title-name">Hello World</h3>
								<div class="post-title-date">July 1, 2024 at 4:43 PM</div>
							</div>
							<p>Starship system tests. Everything looks good! 🔥</p>
							<p><a class="readmore">read more</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
