html, body {
	height: 100vh;
	margin: 0;
}

body {
	background-color: #151515;

	font-family: "Noto Sans Mono", monospace;
	font-variation-settings: "wdth" 100;
	font-optical-sizing: auto;
	font-weight: <weight>;
	font-style: normal;
	font-size: 14px;
}

div#flex-stack {
	flex-direction: column;
	vertical-align: middle;
	display: flex;

	max-width: 900px;
	height: 100vh;
	margin: auto;
}

div#title-outer {
	padding: 20px;
}

div#title-inner {
	background-color: #202020;
	text-align: center;
	color: #A0A0C0;
	padding: 3px;
}

div#posts-outer {
	position: relative;
	overflow-y: auto;

	scrollbar-color: #404040 #101010;
}

div#posts-inner {
	padding-bottom: 20px;
	padding-right: 20px;
	padding-left: 20px;
}

div.post-spacer {
	height: 10px;
}

div.post {
	background-color: #202020;
	padding: 3px;
}

div.content {
	margin-right: 10px;
	margin-left: 10px;
	color: #A0B0C0;
}

div.post-title {
	flex-direction: row;
	display: flex;
}

h3.post-title-name {
	margin-bottom: 5px;
	color: #A0A0C0;
}

div.post-title-date {
	margin-bottom: auto;
	text-align: right;
	margin-right: 5px;
	margin-left: auto;
	margin-top: auto;
	width: auto;
}

a {
	color: #A0C0B0;
}

a.readmore {
	font-size: 12px;
}

div#starship {
	position: fixed;
	display: block;
	z-index: 100;
	bottom: 10px;
	left: 0px;

	background: #303030;
	font-size: 13px;
	color: #D0A070;

	padding-bottom: 4px;
	padding-right: 4px;
	padding-left: 6px;
	padding-top: 4px;

	transform: translateX(calc(-100% + 26px));
	transition: 1s;
}

div#starship:hover {
	transform: translateX(10px);
}

div#grabber {
	display: inline-block;
	text-align: center;
	margin-left: 8px;
	width: 18px;
}
