<!DOCTYPE html>
<html>
	<head>
<!-- head -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap" rel="stylesheet">
<!---------->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<!-- css -->
<link rel="stylesheet" href="../../style.css"><!--------->
<!-- title -->
<title>Fragments - O(sin(x))
</title>
<!----------->
	</head>
	<body>
<!-- grabber -->
<div id="starship">Powered by Starship v1.3<div id="grabber"><img width="14px" src="/starship/assets/fire-emoji.png"/></div></div>
<!------------->
		<div id="flex-stack">
			<div id="title-outer">
				<div id="title-inner">
<!-- name -->
<a href="index.html">O(sin(x))
</a>
<!---------->
				</div>
			</div>
			<div id="posts-outer">
				<div id="posts-inner">
<!-- posts -->
<div class="post"><div class="content"><div class="post-title">
    <h3>Tag: fragments</h3>
    <a style="margin-left: auto; margin-right: 10px; margin-top: auto; margin-bottom: auto;" href="../main/index.html">main page</a>
</div></div></div>
<div class="post-spacer"></div>
<div class="post"><div class="content">
<div class="post-title">
    <a class="post-title-name" href="../../pages/112_floating-falling.html">floating falling endlessly</a>
    <div class="post-title-date">Jul&nbsp;16&nbsp;2025<br>11:06&nbsp;AM</div>
</div>
<p>we are what was and will been</p>
<a href=/starship/pages/111_supercritical.html target=_blank>supercritical | fragments of the past</a>
<p class="tag-container">tags: <a href="../fragments/index.html">fragments</a> </p></div></div>
<div class="post-spacer"></div>
<div class="post"><div class="content">
<div class="post-title">
    <a class="post-title-name" href="../../pages/110_victims-of-circu.html">victims of circumstance</a>
    <div class="post-title-date">Jul&nbsp;14&nbsp;2025<br>10:17&nbsp;AM</div>
</div>
<p>another addition to <a href=https://vmhl87.github.io/starship/content/fragments/index.html target=_blank>my nascent poetry collection<a></p>
<p><a href=https://vmhl87.github.io/starship/pages/109_victims-of-circu.html target=_blank>victims of circumstance</a></p>
<p class="tag-container">tags: <a href="../fragments/index.html">fragments</a> </p></div></div>
<div class="post-spacer"></div>
<div class="post"><div class="content">
<div class="post-title">
    <a class="post-title-name" href="../../pages/102_living.html">living</a>
    <div class="post-title-date">Jul&nbsp;11&nbsp;2025<br>12:40&nbsp;PM</div>
</div>
<p><a href="/starship/pages/101_living.html" target=_blank>asymptotic's chaotic dual</a></p>
<p class="tag-container">tags: <a href="../fragments/index.html">fragments</a> </p></div></div>
<div class="post-spacer"></div>
<div class="post"><div class="content">
<div class="post-title">
    <a class="post-title-name" href="../../pages/99_asymptotic.html">asymptotic</a>
    <div class="post-title-date">Jul&nbsp;11&nbsp;2025<br>10:31&nbsp;AM</div>
</div>
<p><a href=https://vmhl87.github.io/starship/pages/98_asymptotic.html target=_blank>a short poem</a></p>
<p class="tag-container">tags: <a href="../fragments/index.html">fragments</a> </p></div></div><!----------->
				</div>
			</div>
		</div>
	</body>
</html>
